.requestDemos-cont .status,
.requestDemoDetails-container .status {
	text-align: center;
	padding: 0.5rem;
	display: inline-block;
	border: 1px solid;
	border-radius: 0.5rem;
	font-weight: 800;
}

.request-demo-modal .request-demo-modal-body {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.request-demo-modal .send-request-button {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

@media (max-width: 768px) {
	.pagination {
		padding: 20px 0;
	}

	.pagination .rs-pagination-group {
		display: flex;
		flex-direction: column;
		justify-content: left;
	}
}