/* .uploadContainer .uploadFile {
	margin-top: 1rem;
} */

.uploadContainer .uploadFile {

	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.uploadContainer .rs-btn-icon.rs-btn {
	background-color: transparent;
	/* Transparent background */
	border: 1px solid var(--clr-grey-04);

}